.dimensioneIngredienti {
  width: 7em;
  height: 7em;
}
@media screen and (min-width: 992px) {
  .dimensioneIngredienti {
    width: 10em;
    height: 10em;
  }
}

.dimensioneIngredienti img {
  aspect-ratio: 1;
  animation: radius 8s linear infinite;
}

@keyframes radius {
  0%,
  100% {
    border-radius: 55% 45% 70% 30% / 43% 30% 70% 60%;
  }
  33% {
    border-radius: 40% 60% 40% 60% / 70% 60% 40% 30%;
  }
  66% {
    border-radius: 20% 80% 20% 80% / 50% 45% 55% 50%;
  }
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-body {
  flex-grow: 1;
}

.card:hover {
  transform: scale(1.1);
  border-width: 3px;
}

.col-6.col-lg-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.mb-4 {
  margin-bottom: 1.5rem !important; /* Aggiunge uno spazio tra le righe di card */
}

.no-border {
  border: none !important;
}

