
.ngb-custom-pages-item.custom-page-item {
  background-color: transparent !important;
  color: #f26419 !important;
}

.ngb-custom-pages-item.custom-page-item .form-control.custom-pages-input {
  background-color: transparent !important;
  color: #f26419 !important;
  border: 1px solid #f26419 !important;
}

.ngb-custom-pages-item.custom-page-item label,
.ngb-custom-pages-item.custom-page-item span {
  color: #f26419 !important;
}
