<nav class="navbar navbar-expand-lg bg-body-tertiary  bg-dark border-bottom border-body " data-bs-theme="dark">
  <div class="container-fluid">
    <div >
      <a routerLink="" class="d-flex " id="styleLogo">
        <img src="../../../assets/Img/Logo (2).png" alt="Logo">
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse show" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="">Ingredienti</a>
        </li>
      </ul>
      <ul class="text-white d-lg-flex list-unstyled">
        <li class="nav-item">
          <a class="nav-link  me-3" routerLink=""routerLinkActive="">Preferiti</a>
        </li>

        <li class="nav-item">
          <a class="nav-link  me-3" routerLink="" routerLinkActive="">Lista della Spesa</a>
        </li>

        <li class="nav-item">
          <a class="nav-link  me-3" routerLink="" routerLinkActive="">Crea Ricetta</a>
        </li>

        <li class="nav-item">
          <a class="nav-link  me-3" routerLink="" routerLinkActive=""><i class="bi bi-search"></i></a>
        </li>

        <li class="nav-item me-3">
          <a class="nav-link " routerLink="" routerLinkActive=""><i class="bi bi-person-circle"></i></a>
        </li>
      </ul>

    </div>
  </div>
</nav>
