#styleLogo {
  width: 4rem;
}

#styleLogo img {
  width: 100%;
}

.bi-search {
  font-size: 1.5rem;
}

.bi-person-circle {
  font-size: 2rem;
  color: white;
}

.bi-arrow-return-left {
  font-size: 1.5rem;
}

span {
  font-size: 20px;
}

.bi-person-circle {
  color: #a3d4ee;
}
.bi-person-circle:hover {
  color: #069fe2;
}

.modal-custom-bg {
  background-color: #f9f9f9 !important;
  color: #181818;
}

input {
  border-color: #a3d4ee;
  border-width: 3px;
}

.bg-blue:hover {
  background-color: #069fe2;
}
.accedi:hover {
  color: #a3d4ee;
  cursor: pointer;
}
