.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9; // Light background color
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input,
textarea,
select {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  margin-top: 20px;
  padding: 10px;

  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #7ac4eb;
}

.ingredient-item {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.ingredient-item input {
  flex: 1;
  margin-right: 10px;
}

.ingredient-item button {
  padding: 5px 10px;
  background-color: #f26419; // Red background color
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.ingredient-item button:hover {
  background-color: #c0392b;
}
