<div class="container">
  <h1 class="text-orange my-2">
    Le nostre migliori ricette con {{ ingredient }}
  </h1>
  <div class="row">
    <div class="col-12 mt-3" *ngFor="let r of recipe">
      <div class="card mb-3 rounded-5 overflow-hidden">
        <div class="row no-gutters">
          <div class="col-md-8 d-flex align-items-center">
            <div class="card-body">
              <a
                class="card-title text-orange h3"
                [routerLink]="['/ricetta', r.id]"
              >
                {{ r.nome_ricetta }}
              </a>
              <p>Difficoltà: {{ r.difficolta }}</p>
              <p>Tempo di preparazione: {{ r.tempo_preparazione }} min</p>
              <div class="d-flex flex-wrap">
                <ul *ngFor="let i of r.ingredienti">
                  <li
                    class="list-unstyled"
                    (click)="navigateToIngredient(i.ingrediente)"
                  >
                    {{ i.ingrediente }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <img
              [src]="[r.immagine]"
              class="img-fluid"
              [alt]="[r.nome_ricetta]"
              [routerLink]="['/ricetta', r.id]"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
