

<div class="row justify-content-around">
  <div class="text-center">
    <h1 class="text-orange my-5">Accedi o registrati</h1>
  </div>

  <div class="col-4 mt-3">
    <h2 class="text-orange mb-3">Accedi</h2>
    <button routerLink="login" class="btn bg-blue mt-2">
      Accedi con il tuo account
    </button>
  </div>
  <div class="col-4 mt-3">
    <h2 class="text-orange mb-3">Registrati</h2>
    <button routerLink="register" class="btn bg-blue mt-2">
      Crea un nuovo account
    </button>
  </div>
</div>
