<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-6 text-center">
      <h1 class="text-orange">Registrati</h1>
      <form class="d-flex flex-column align-items-center">
        <input class="form-control mb-2" type="text" name="nome" placeholder="Inserisci il tuo nome" [(ngModel)]="newUser.nome" style="max-width: 100%;">
        <input class="form-control mb-2" type="email" name="email" placeholder="Inserisci la tua email" [(ngModel)]="newUser.email" style="max-width: 100%;">
        <input class="form-control mb-2" type="password" name="password" placeholder="Inserisci la tua password" [(ngModel)]="newUser.password" style="max-width: 100%;">
        <button (click)="register()" type="button" class="btn bg-blue" >
          Inizia a cucinare!
        </button>
      </form>
    </div>
  </div>
</div>

